@page "/district/create"
@using ShopManagement.UI.Data
@inject NavigationManager NavigationManager

<h3>Create District</h3>

<EditForm Model="@newDistrict" OnValidSubmit="CreateDistrictAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="newDistrict.Name" />
        <ValidationMessage For="@(() => newDistrict.Name)" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private District newDistrict = new District();
    [Inject]
    private DistrictService DistrictService { get; set; }

    private async Task CreateDistrictAsync()
    {
        await DistrictService.CreateDistrictAsync(newDistrict);
        NavigationManager.NavigateTo("/district/districts");


       
    }
}