@page "/upazila/delete/{Id:int}"
@using ShopManagement.UI.Data

<h3>Delete Upazila</h3>

<p>Are you sure you want to delete this upazila?</p>

<button class="btn btn-danger" @onclick="DeleteUpazila">Delete</button>

@code {
    [Parameter]
    public int Id { get; set; }
    [Inject]
    private UpazilaService UpazilaService { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private async Task DeleteUpazila()
    {
        await UpazilaService.DeleteUpazilaAsync(Id);
        NavigationManager.NavigateTo("/upazila/upazilas");
    }
}